
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<label class="label label-primary center-block" style="font-size:x-large">Confirmation</label>

<br />
<br />
<text class="text-danger" style="font-size:large">
    Thank you for registering. You have one more step to complete registration. 

    <br />
    We have sent you an email with registration link. Please check your email account and click on the link to verify your email address.


<br />
<br />
<br />
    You will be redirected to home page soon.
@{Response.AddHeader("REFRESH", "10;URL=/Home/Index");}
    
</text>