@model User_Login.Models.ForgotPassword

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <br />
    <br />
    <br />
    @Html.ValidationSummary("Operation failed.", new { @class = "alert alert-danger centered" })

    if (Session["forgotPassword"] != null)
    {
        <label class="label label-success center-block" style="font-size:medium">
            @Session["forgotPassword"].ToString()
        </label>
    
    <label class="label label-success center-block" style="font-size:medium">
        <br />
        You will be redirected to login page soon.
        @{Response.AddHeader("REFRESH", "5;URL=/User/Login");}
    </label>
    }
    <br />
    <br />
    <br />
    @*<label class="label label-info center-block" style="font-size:large">
            ForgotPassword
        </label>*@

    <div style="margin:5% auto; width:350px;top:200px;">
        @* modified by Simul *@
        <fieldset>
            <legend style="text-align:center;color:forestgreen">Forgot password</legend>

            <div class="editor-field" title="Enter email address">
                @Html.TextBoxFor(u => u.EmailId, new { @class = "form-control", @placeholder = "Email address" })
            </div>

        </fieldset>

        <br />
        <br />
        <br />


        <div style="text-align:center" title="Click to send email to change password">
            <input type="submit" value="Send email" class="btn btn-danger" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" class="btn btn-danger" value="Cancel" title="Go to Home Page" onclick="window.location.href='@Url.Action(Request.UrlReferrer.ToString())'" />
        </div>
    </div>
}

