@model User_Login.Models.ForgotPassword

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<div class="container">
    <div class="jumbotron list-group-item-success" style="margin-bottom:0px;">
        <h1 style="text-align:center;">Password Retrieval</h1>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary("Operation failed.", new { @class = "alert alert-danger centered" })

    if (Session["forgotPassword"] != null)
    {
        <label class="label label-success center-block" style="font-size:medium">
            @Session["forgotPassword"].ToString()
        </label>

        <label class="label label-success center-block" style="font-size:medium">
            <br />
            You will be redirected to login page soon.
            @*@{Response.AddHeader("REFRESH", "5;URL=/User/Login");}*@
        </label>
        <meta http-equiv="Refresh" content="5;URL=@(Url.Action("Login", "User"))">
    }

    <div style="margin:5% auto; width:350px;top:200px;">
        <fieldset>
            <legend style="text-align:center;color:forestgreen">Enter email address for password retrieval information</legend>

            <div class="editor-field" title="Enter email address">
                @Html.TextBoxFor(u => u.EmailId, new { @class = "form-control", @placeholder = "Email address" })
            </div>

        </fieldset>

        <br />
        <br />
        <br />


        <div style="text-align:center" title="Click to send email to change password">
            <input type="submit" value="Send email" class="btn btn-success" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" class="btn btn-danger" value="Cancel" title="Go to Home Page" onclick="window.location.href(@Url.Action("Index","Home"))" />
        </div>
    </div>
}

