
@{
    ViewBag.Title = "LoggedIn";
}

<h2>Congratulations, you successfully logged into our job search site!</h2>

<button id="btnSearch" class="btn btn-search" value="Search for Jobs" onclick="location.href='@Url.Action("Index","JobSearch")'">
    Search for Jobs
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
</button>
