
@{
    ViewBag.Title = "Confirmation";
}

<br />
<br />
<br />
<div class="container">
    <div class="jumbotron list-group-item-success" style="margin-bottom:0px;">
        <h1 style="text-align:center;">Confirmation</h1>
        <p style="font-style:italic; text-align:center; font-family:'Agency FB';">Thanks for contacting us!</p>
    </div>
</div>
<br />
<br />
<br />
<div class="container">
    <p class="text-danger" style="font-size:large; text-align:center;">
        We will review your submission and follow up with you as necessary.  
        Thanks again for your interest in careers with Computech!
        <br />
        <br />
        <br />
        You will be redirected shortly.
    </p>
</div>
@if (Request.IsAuthenticated)
{
    <meta http-equiv="Refresh" content="5;URL=@(Url.Action("LoggedIn", "User"))" />
}
else
{
    <meta http-equiv="Refresh" content="5;URL=@(Url.Action("Index", "Home"))" />
}
