
@{
    ViewBag.Title = "Job Search Site";
}

<h2>Welcome to the Job Search Site!</h2>

<img src="~/Content/Images/computech logo.png" alt="Computech Logo"/>
<br />
<br />
<input type="button" value="Search For Jobs!" onclick="location.href = '@Url.Action("Index", "JobSearch")'" />

