
@{
    ViewBag.Title = "Apply";
}

<h2>Apply</h2>




<h4 style="color:red">PAGE UNDER CONSTRUCTION</h4>

<input type="button" class="btn btn-default" value="Search Jobs" onclick="window.location.href='@Url.Action("Index", "JobSearch")'" />