
@{
    ViewBag.Title = "SubmitApplication";
}

<br />
<br />
<br />
<div class="container">
    <div class="jumbotron list-group-item-success" style="margin-bottom:0px;">
        <h1 style="text-align:center;">Submit</h1>
        <p style="font-style:italic; text-align:center; font-family:'Agency FB';">Thanks for applying!</p>
    </div>
</div>
<br />
<br />
<br />
<div class="container">
    <label class="label label-success center-block" style="font-size:large; text-align:center;">
        @Session["submitApplication"].ToString()
    </label>
    <label class="label label-info center-block" style="font-size:medium; text-align:center;">
        You will be redirected to the user homepage soon.
    </label>
</div>
@{Response.AddHeader("REFRESH", "5;URL=/User/LoggedIn");}