
@{
    ViewBag.Title = "SubmitApplication";
}

<h2>Submit</h2>

<label class="label label-success center-block" style="font-size:large">
    @Session["submitApplication"].ToString()
</label>
<br />
<br />
<br />

<label class="label label-info">
    You will be redirected to Job Search page soon.
    @{Response.AddHeader("REFRESH", "5;URL=/JobSearch/Index");}
</label>